h1{
    background-color:#FF10F0;
    font-size: 30px;
    width: 100%;
    margin: 0px;
    border-radius: 10px;
}

.note{
    font-size: 15px;
    color: white;
}

h2{
    background-color:#0096FF;
    width: 400px;
    border-radius: 10px;
}

canvas{
    border: 5px white;
    border-radius: 20px;
}